body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orangered;
}



.navbar{
    background-image: linear-gradient(orange,tomato);
    border-radius: 15px;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 10px 15px;
}
.navbar ul{
    overflow: auto;
}
.navbar li a{
    padding: 13px 23px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}




.flexible-container{
    display: flex;
    margin-bottom: 200px;
}
.half-width{
    width: 50%;
    margin-top: 1%;
    padding-left: 3%;
    padding-right: 30px;

}
.half-width img{
    width: 100%;
    border-radius: 15px;
    
}
.half-width p{
    margin-bottom: 100px;
}
.link-button{
    text-decoration: 0;
    background-image: linear-gradient(tomato,orangered);
    border-radius: 15px;
    padding: 10px 25px;
    color: white;
    font-weight: 600;
   
}
.mid-banner{
    background-image: url(images/mid-banner.png);
    background-repeat: no-repeat;
    
    
}
#recipe-title{
    text-align: center;
    
   
}
.flexible-container div h2{
    text-align: center;
}

.flexible-container div p{
    text-align: justify;
}

#pera{
   
    width:50%;
    margin:0 auto;
    background-image: linear-gradient(tomato,red);
    color: white;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 15px;
   
}

.title-box{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    box-shadow: 10px 10px 30px darkgray;
    border-radius: 15px;

}
footer{
    text-align: center;
}
.my-footer{
    background-color: black;
    color: white;
    height: 120px;
    width: 100%;
   
}

#complain-button{
    text-decoration: 0;
    background-image: linear-gradient(rgb(250, 3, 3),red);
    border-radius: 15px;
    padding: 15px 25px;
    color: white;
    font-weight: 600;
    margin-left: 42%;
   
    
    
    
}
